
@{
    ViewBag.Title = "ErrorPageDelete";
}

<head>
    <title></title>
</head>
<link rel="stylesheet" type="text/css" href="~/Content/errorPage.css" />
<body>
    <h4 class="error">Guests are not allowed to find Contact Details</h4>
</body>
